* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #383838;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #d4e2d9;
}

h1 {
    font-size: 70px;
    margin: 60px 0 20px 0;
    text-transform: uppercase;
    white-space: nowrap;
    text-shadow: 2px 2px 4px #c1cec5;
}

.container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    flex-wrap: wrap;
}

.card {
    /* position: relative; */
    width: 40%;
    min-width: 300px;
    padding: 25px;
    margin: 20px;
    background: #fff;
    box-shadow: 2px 2px 4px #c1cec5;
}

.pic {
    margin-bottom: 10px;
}

img {
    max-width: 350px;
    width: 100%;
    box-shadow: 1px 1px 4px #c1cec5;
}

.content {
    /* position: relative; */
    height: 90px;
    overflow: hidden;
}

.card.active .content {
    height: auto;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    font-weight: 300;
    width: 100%;
}

/*  read more/less button  */

.more {
    position: relative;
    padding: 10px 15px;
    background: #c2d5c8;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
    box-shadow: 1px 1px 4px #c1cec5;
}

.card.active .more {
    background: #d4e2d9;
}

.container .card .more::before {
    content: 'Read more';
}

.card.active .more::before {
    content: 'Read less';
}


/*  media query  */

@media only screen and (max-width:769px) {

    h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width:481px) {

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 2vw;
    }
}

@media only screen and (max-width:320px) {

    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 15px;
    }

    .card {
        min-width: 300px;
    }
}














/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #313131;
}

h1 {
    font-size: 100px;
    margin: 60px 0 20px 0;
    color: #fff;
    text-transform: uppercase
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    padding: 25px;
    margin: 20px;
    background: #3f3f3f;
}

.container .card .icon {
    margin-bottom: 10px;
}

.container .card .icon img {
    max-width: 250px;
}

.container .card .content {
    position: relative;
    height: 215px;
    overflow: hidden;
}

.container .card.active .content {
    height: auto;
}

.container .card .content h3 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
}

.container .card .content p {
    font-weight: 300;
    color: #ccc;
}

.container .card .more {
    position: relative;
    padding: 10px 15px;
    background: #17e78c;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #383838;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
}

.container .card.active .more {
    background: #ff3b7e;
    color: #fff;
}

.container .card .more::before {
    content: 'Read more';
}

.container .card.active .more::before {
    content: 'Read less';
} */